body{
	
	background:#fff;
}
.container{
	/*height: 330px;
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border: 1px solid #08039C;
	box-shadow: 0 0 8px 3px #fff;*/
	width: 600px;
	height: 500px;
	margin:0 auto;
	padding: 10px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid #cbcbcb;
	box-shadow: 10px 15px 5px #cbcbcb; 
}
.title{
	padding-top: 20px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #08038C;
}
.question{
	padding: 20px;
	font-family: 'Comfortaa', cursive;
	font-size:22px;
	background:#1565c0;
	border-radius: 20px;
	margin:10px 0 10px 0;
	color: #f6f6f6;
}
.option{
	width: 470px;
	font-family: 'Comfortaa', cursive;
	display: inline-block;
	font-family: 'Comforta' cursive;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;

}
.option:hover{
	background:#1a237e;
	color: #f6f6f0;
	font-family: 'Comforta' cursive;

}
.next-btn{
	border: none;
	outline: none;
	background:rgba(255,25,255,0.5);
	width: 100px;
	font-family: 'Comforta' cursive;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin: 10px;
	font-family: 'Comfortaa', cursive;
	background: #1a237e;
	color: #f6f6f6;
}
.next-btn:hover{
	font-family: 'Comfortaa', cursive;
	background: #08038C;
	color: #f6f6f6;
}
.result{
	height: 100px;
	font-family: 'Comfortaa', cursive;
	padding-top:  auto;
	padding-bottom: auto;


	text-align: center;
	font-size: 75px;

}
.option input:checked .option{
	background:#08038C;
	color: #000;
}
